@tailwind base;
@tailwind components;
@tailwind utilities;

.movie-row::-webkit-scrollbar {
  display: none;
}

.movie-row  {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
