@tailwind base;
@tailwind components;
@tailwind utilities;

.movie-row::-webkit-scrollbar {
  display: none;
}


.movie-row  {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  height: 280px;
}


@media (max-width: 480px) {
  .movie-row {
    gap: 5px; 
    height: 80px; 
  }
}

@media (min-width: 481px) and (max-width: 680px) {
  .movie-row {
    gap: 8px; 
    height: 200px; 
  }
}

@media (min-width: 681px) and (max-width: 969px) {
  .movie-row {
    gap: 10px; 
    height: 230px; 
  }
}

@media (min-width: 970px) {
  .movie-row {
    gap: 12px; 
    height: 280px; 
  }
}
